/* BARRA DE NAVEGAÇÃO */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
}

/* SEÇÃO 1: Apresentação */
.secao-apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0 100px;
  gap: 40px;
}

/* SEÇÃO 2: Habilidades */
.secao-habilidades {
  padding: 0 50px;
  margin-bottom: 100px;
}

/* SEÇÃO 3: Depoimentos */
.secao-depoimentos {
  padding: 0 50px;
  margin-bottom: 100px;
}

/* SEÇÃO 4: Contato */
.secao-contato {
  padding: 0 50px;
  margin-bottom: 100px;
}

/* MEDIA QUERIES */
@media (max-width: 850px) {
  .secao-apresentacao .texto h2 {
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  .secao-apresentacao {
    flex-direction: column-reverse;
  }

  .secao-depoimentos {
    text-align: center;
  }

  .secao-depoimentos .grupo,
  .secao-contato .grupo {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  nav,
  .secao-apresentacao,
  .secao-habilidades,
  .secao-depoimentos,
  .secao-contato {
    padding: 0 20px;
  }
}
